{{ partial "head.html" . }}
<body>
  {{ partial "topnav.html" . }}
  <div class="w3-content">
    <div class="main">
      <div class="w3-row-padding">
      {{ range .Data.Pages }}
        <div class="w3-col s12 m4 l3">
          <a href="{{ substr .Permalink 0 -1 }}">
            <div style="min-height: 250px; margin-bottom: 16px;" class="w3-container w3-card">
              <h3>{{ .Title }}</h3>
              <img src="/images/{{ .Params.image }}">
            </div>
          </a>
        </div>
      {{ end }}
      </div>
	    {{ partial "footer.html" . }}
    </div>
  </div>
</body>
</html>